head
	meta(charset="utf-8")
	title #{title}
	block meta
		meta(name="description", content="DESCRIPTION")
		meta(name="keywords", content="KEYWORDS")
		link(rel="icon" href="assets/img/favicon.ico")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
	block scripts
		script(defer src="assets/js/main.min.js")
	block styles
		link(href="assets/css/main.min.css", rel="stylesheet")
